$light-red: hsl(15, 100%, 70%); //work
$soft-blue: hsl(195, 74%, 62%); //play
$light-red-2: hsl(348, 100%, 68%); //study
$lime-green: hsl(145, 58%, 55%); // exercise
$violet: hsl(264, 64%, 52%); // social
$soft-orange: hsl(43, 84%, 65%); //self care
$dark-blue: hsl(235, 46%, 20%);
$very-dark-blue: hsl(226, 43%, 10%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);
$blue: hsl(246, 80%, 60%);

@mixin event-img {
  position: relative;
  height: 75px;
  border-radius: 20px;
  z-index: 0;
}
@mixin svg-img {
  position: absolute;
  right: 0;
  top: 0px;
  width: 65px;
  height: auto;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Hanken+Grotesk:wght@400;500;600;700;800&family=Inter:wght@100;200;300;400;500;800&family=Manrope:wght@500;800&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,600&family=Nunito:wght@200;300;500;700;800&family=Overpass:wght@400;700&family=Patrick+Hand&family=Plus+Jakarta+Sans:wght@500;800&family=Rubik:wght@300;400;500&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: $very-dark-blue;
  zoom: 90%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
  a {
    color: $pale-blue;
  }
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  .user-info {
    position: relative;
    background-color: $blue;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 400px;
    z-index: 1;
    .users-img {
      width: 100px;
      border: 3px solid #fff;
      border-radius: 50%;
    }
    p {
      margin-top: 30px;
      font-size: 14px;
      color: $pale-blue;
    }
    h1 {
      color: #fff;
      font-size: 50px;
      font-weight: 100;
      margin-top: 20px;
    }
  }
  .time {
    position: relative;
    background-color: $dark-blue;
    padding: 20px;
    width: 300px;
    height: 205px;
    margin-top: -10px;
    z-index: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    .btn {
      border: none;
      outline: none;;
      display: block;
      color: $pale-blue;
      font-size: 18px;
      padding-top: 20px;
      transition: 0.4s;
      &:hover {
        color: #fff;
      }
    }
  }
  .event-img {
    @include event-img();
    background-color: $light-red;
    img {
      @include svg-img();
    }
  }

  .event-img-2 {
    @include event-img();
    background-color: $soft-blue;
    img {
      @include svg-img();
    }
  }

  .event-img-3 {
    @include event-img();
    background-color: $light-red-2;
    img {
      @include svg-img();
    }
  }

  .event-img-4 {
    @include event-img();
    background-color: $lime-green;
    img {
      @include svg-img();
    }
  }

  .event-img-5 {
    @include event-img();
    background-color: $violet;
    img {
      @include svg-img();
    }
  }

  .event-img-6 {
    @include event-img();
    background-color: $soft-orange;
    img {
      @include svg-img();
    }
  }

  .event-desc {
    position: relative;
    background-color: $dark-blue;
    border-radius: 20px;
    padding: 20px;
    padding-top: 40px;
    color: #fff;
    z-index: 1;
    margin-top: -40px;
    transition: 0.4s;
    .title {
      font-size: 25px;
    }
    .hour {
      font-size: 65px;
      font-weight: 100;
    }
    .last-hour {
      color: $pale-blue;
    }
    .dot {
      cursor: pointer;
      position: absolute;
      top: 28px;
      right: 20px;
      padding: 10px;
      font-weight: 700;
      color: $pale-blue;
    }
    &:hover {
      background-color: $desaturated-blue;
      .dot {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .user-info {
    width: 100% !important;
    height: auto !important;
  }
  .time {
    display: flex !important;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
    .btn-div {
      display: flex !important;
      margin: auto;
    }
  }
  .col-lg-4 {
    margin-top: 10px !important;
    .hour-div {
      display: flex !important;
      justify-content: space-between;
      .last-hour {
        display: flex !important;
        align-items: center;
      }
    }
  }
}
